* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: rgb(36, 35, 35);
}

.container {
  width: 43vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 10px;
  padding-top: 20px;
  column-gap: 15px;
  row-gap: 5px;
  background-color: #e5e5e54b;
  font-size: 14px;
}

.items > h2 {
  font-size: 14px;
  padding-bottom: 12px;
  font-weight: 550;
}
.items > ul {
  padding: 10px 10px;
  background-color: rgba(255, 255, 255, 0.618);
}

.icText,
.icTextic,
.text,
.avText {
  list-style-type: none;
}

.icText,
.icTextic,
.text,
.avText {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  column-gap: 15px;
  row-gap: 22px;
  grid-template-rows: 1fr 1fr 1fr;
}

.text {
  grid-template-columns: auto;
  min-height: 96px;
}

.icText {
  min-height: 92px;
}
.icTextic {
  grid-template-columns: auto 1fr auto;
}

.material-icons {
  color: rgb(133, 132, 132);
  font-size: 18px;
}
#ic {
  background-color: rgb(188, 187, 187);
  border-radius: 50%;
  padding: 4px;
  color: rgb(255, 255, 255);
}
